//- 每頁模板
extends layout/wrap

block content
  section.content#overview(v-if="activeIndex === 0")
    .left-content
      .slider-container
        h1 活動頁 Eventsite
        .swiper
          .swiper-wrapper
            .swiper-slide
              img(src="../assets/img/933x277_01.jpg")
            .swiper-slide
              img(src="../assets/img/933x277_02.jpg")
            .swiper-slide
              img(src="../assets/img/933x277_03.jpg")
            .swiper-slide
              img(src="../assets/img/933x277_04.jpg")
            .swiper-slide
              img(src="../assets/img/933x277_05.jpg")
            .swiper-slide
              img(src="../assets/img/933x277_06.jpg")

          .swiper-pagination

      .artists
        h1 素材 Banner
        .artist-container.containers
          .album
            .album-frame
              img(src="../assets/img/933x277_01.jpg" alt="")
            div
              h2 Views
              p Drake

          .album
            .album-frame
              img(src="../assets/img/933x277_02.jpg" alt="")
            div
              h2 Speak Now
              p Taylor Swift

          .album
            .album-frame
              img(src="../assets/img/933x277_03.jpg" alt="")
            div
              h2 Born to Die
              p Lana Del Rey

          .album
            .album-frame
              img(src="../assets/img/933x277_04.jpg" alt="")
            div
              h2 Endless Summer Vacation
              p Miley Cyrus

          .album
            .album-frame
              img(src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/f01f546a-7ab7-4e90-acb9-1c1e817b676d" alt="")
            div
              h2 The Dark Side of The Moon
              p Pink Floyd

      .albums
        h1 商標 Logo
        .album-container.containers
          .album
            .album-frame
              img(src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/74c4f0f9-d73e-4737-83fa-ea4afe392229" alt="")
            div
              h2 Views
              p Drake

          .album
            .album-frame
              img(src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/d3a0bac0-fdb4-467e-bdf5-f3f415928f24" alt="")
            div
              h2 Speak Now
              p Taylor Swift

          .album
            .album-frame
              img(src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/85521a12-cc46-4b9f-a742-21ba407ebd5e" alt="")
            div
              h2 Born to Die
              p Lana Del Rey

          .album
            .album-frame
              img(src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/4e7bf466-7fa5-4dad-b628-5bca12833b64" alt="")
            div
              h2 Endless Summer Vacation
              p Miley Cyrus

          .album
            .album-frame
              img(src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/f01f546a-7ab7-4e90-acb9-1c1e817b676d" alt="")
            div
              h2 The Dark Side of The Moon
              p Pink Floyd

    .right-content
      .info-block
        h1 學歷 Education
        .container
          .info-list
            .list-img
              img(src="../assets/img/e_logo01.jpg" alt="")
            .list-title
              h2 復興商工
              p 美工科
            span 1996 ~ 1999

          .info-list
            .list-img
              img(src="../assets/img/e_logo02.svg" alt="")
            .list-title
              h2 環球科技大學(肄)
              p 視覺傳達系
            span 2001 ~ 2003

          .info-list
            .list-img
              img(src="../assets/img/e_logo03.jpg" alt="")
            .list-title
              h2 台灣藝術大學
              p 工藝設計學系
            span 2003 ~ 2006

      .info-block
        h1 經歷 Works
        .container
          .info-list
            .list-img
              img(src="../assets/img/fti.png" alt="")
            .list-title
              h2 沛恩實業股份有限公司
              p Product Designer
            span 2006 ~ 2007

          .info-list
            .list-img
              img(src="../assets/img/payeasy.jpg" alt="")
            .list-title
              h2 PayEasy
              p Web Designe
            span 2009 ~ 2011

          .info-list
            .list-img
              img(src="../assets/img/unt.png" alt="")
            .list-title
              h2 UNT
              p Web Designer manager
            span 2012 ~ 2013

          .info-list
            .list-img
              img(src="../assets/img/freelancer.jpg" alt="")
            .list-title
              h2 專職接案
              p Visual Designer
            span 2013 ~ 2018

          .info-list
            .list-img
              img(src="../assets/img/witsper.jpg" alt="")
            .list-title
              h2 智選家
              p Visual Designer
            span 2018 ~ 2020

          .info-list
            .list-img
              img(src="../assets/img/tk3c.png" alt="")
            .list-title
              h2 燦坤線上購物
              p Web Designer / UI Designer
            span 2020 ~ 2022

          .info-list
            .list-img
              img(src="../assets/img/googoo.jpg" alt="")
            .list-title
              h2 汩汩設計
              p Web Designer
            span 2022 ~ 2024

      .info-block
        h1 技能 Skills
        .container
          ul
            li
              i.iconify.skill-icon(data-icon="skill-icons:illustrator")
            li
              i.iconify.skill-icon(data-icon="skill-icons:xd")
            li
              i.iconify.skill-icon(data-icon="skill-icons:photoshop")
            li
              i.iconify.skill-icon(data-icon="skill-icons:premiere")
            li
              i.iconify.skill-icon(data-icon="skill-icons:aftereffects")
            li
              i.iconify.skill-icon(data-icon="skill-icons:audition")
            li
              i.iconify.skill-icon(data-icon="logos:adobe-animate")
            li
              i.iconify.skill-icon(data-icon="skill-icons:vscode-dark")
            li
              i.iconify.skill-icon(data-icon="skill-icons:figma-dark")
            li
              i.iconify.skill-icon(data-icon="skill-icons:html")
            li
              i.iconify.skill-icon(data-icon="skill-icons:css")
            li
              i.iconify.skill-icon(data-icon="skill-icons:pug-light")
            li
              i.iconify.skill-icon(data-icon="skill-icons:sass")
            li
              i.iconify.skill-icon(data-icon="skill-icons:jquery")
            li
              i.iconify.skill-icon(data-icon="skill-icons:git")
            li
              i.iconify.skill-icon(data-icon="skill-icons:github-light")

  section.content#education-work(v-if="activeIndex === 1")
    .wrap
      .row
        h3 學歷
        h5 Education
        ul
          li 1996 - 1999 復興商工 美工科
          li 2001 - 2003 環球科技大學 視傳系 (肄)
          li 2003 - 2006 台灣藝術大學 工藝系
      .row
        h3 經歷
        h5 Work Experience
        ul
          li 2006 - 2007 沛恩實業股份有限公司
          li 2001 - 2003 環球科技大學 視傳系 (肄)
          li 2003 - 2006 台灣藝術大學 工藝系

  section.content#websiteui(v-if="activeIndex === 2")
    .wrap
      h1 網站UI
  section.content#eventsite(v-if="activeIndex === 3")
    .wrap
      h1 活動網站
  section.content#cis(v-if="activeIndex === 4")
    .wrap
      h1 企業識別
  section.content#other(v-if="activeIndex === 5")
    .wrap
      h1 其他

block footer