<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PersonalCV</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css">
    <link rel="stylesheet" href="../assets/style/main.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.0.0/iconify.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>
  </head>
  <body>
    <main id="app">
      <nav class="main-menu">
        <div>
          <div class="user-info"><img src="../assets/img/neosu.jpg" alt="user">
            <p>蘇子豪</p>
            <p>Neo</p>
            <ul class="social-icon">
              <li><a href="https://line.me/ti/p/i-xcQyisle"><i class="iconify nav-icon" data-icon="fa6-brands:line"></i></a></li>
              <li><a href="https://www.facebook.com/childish.sue"><i class="iconify nav-icon" data-icon="fa6-brands:square-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/neohao_imona/"><i class="iconify nav-icon" data-icon="fa6-brands:instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/in/neohao/"><i class="iconify nav-icon" data-icon="fa6-brands:linkedin"></i></a></li>
              <li><a href="https://discordapp.com/users/noheaven#9304"><i class="iconify nav-icon" data-icon="fa6-brands:discord"></i></a></li>
            </ul>
          </div>
          <ul>
            <li class="nav-item" :class="{ active: activeIndex === 0 }" @click="changeSection(0)"><a href="#"><i class="iconify nav-icon" data-icon="iconamoon:apps"></i><span class="nav-text">總覽</span></a></li>
            <li class="nav-item" :class="{ active: activeIndex === 1 }" @click="changeSection(1)"><a href="#"><i class="iconify nav-icon" data-icon="grommet-icons:certificate"></i><span class="nav-text">學歷/經歷</span></a></li>
            <li class="nav-item" :class="{ active: activeIndex === 2 }" @click="changeSection(2)"><a href="#"><i class="iconify nav-icon" data-icon="grommet-icons:text-wrap"></i><span class="nav-text">網站UI</span></a></li>
            <li class="nav-item" :class="{ active: activeIndex === 3 }" @click="changeSection(3)"><a href="#"><i class="iconify nav-icon" data-icon="clarity:application-solid"></i><span class="nav-text">活動網站</span></a></li>
            <li class="nav-item" :class="{ active: activeIndex === 4 }" @click="changeSection(4)"><a href="#"><i class="iconify nav-icon" data-icon="la:building"></i><span class="nav-text">企業識別</span></a></li>
            <li class="nav-item" :class="{ active: activeIndex === 5 }" @click="changeSection(5)"><a href="#"><i class="iconify nav-icon" data-icon="fa:home"></i><span class="nav-text">其他</span></a></li>
          </ul>
        </div>
        <ul>
          <li class="nav-item"><a href="#"><i class="iconify nav-icon" data-icon="fa:home"></i><span class="nav-text">其他</span></a></li>
        </ul>
      </nav>
      <footer class="allPage">
        <nav>
          <ul class="keyOption">
            <li><a href="###">ヘルプセンター</a></li>
            <li><a href="faq.html">FAQ</a></li>
            <li><a href="policy.html">免責事項</a></li>
          </ul>
        </nav>
        <p class="Copyright">© 2004 - 2024 by k8591 Technology Co., Ltd. All Rights reserved.</p>
      </footer>
    </main>
    <script type="text/javascript" src="../assets/js/main.js"></script>
  </body>
</html>