footer.allPage
  nav
    ul.keyOption
      each footerNav in [{link: '###', name: 'ヘルプセンター'}, {link: 'faq.html',  name: 'FAQ'}, {link: 'policy.html',  name: '免責事項'}]
        li: a(href=footerNav.link)=footerNav.name

  p.Copyright © 2004 - 2024 by k8591 Technology Co., Ltd. All Rights reserved.