<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta http-equiv="Content-Type" content="charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NeoHao作品集網站">
    <meta name="keywords" content="經歷，UI，UX，design，website，app，設計，活動網站，平面設計，視覺識別，neohao，你好設計，蘇子豪">
    <title>PersonalCV</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-easy-lightbox/dist/vue-easy-lightbox.css">
    <link rel="stylesheet" href="../assets/style/main.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.5.13/vue.global.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.0.0/iconify.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-easy-lightbox/dist/vue-easy-lightbox.umd.min.js"></script>
  </head>
  <body>
    <main id="app">
      <nav class="main-menu">
        <div>
          <div class="user-info"><img src="../assets/img/neosu.jpg" alt="user">
            <p>蘇子豪</p>
            <p>Neo</p><a @click="toggleSocialIcons" :class="['toggle-button', { 'rotated': showSocialIcons }]"><i class="iconify nav-icon" data-icon="ic:twotone-arrow-drop-down-circle"></i></a>
            <ul class="social-icon" :class="{ 'show': showSocialIcons }">
              <li><a href="https://line.me/ti/p/i-xcQyisle"><i class="iconify nav-icon" data-icon="fa6-brands:line"></i></a></li>
              <li><a href="https://www.facebook.com/childish.sue"><i class="iconify nav-icon" data-icon="fa6-brands:square-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/neohao_imona/"><i class="iconify nav-icon" data-icon="fa6-brands:instagram"></i></a></li>
              <li><a href="https://www.linkedin.com/in/neohao/"><i class="iconify nav-icon" data-icon="fa6-brands:linkedin"></i></a></li>
              <li><a href="https://discordapp.com/users/noheaven#9304"><i class="iconify nav-icon" data-icon="fa6-brands:discord"></i></a></li>
            </ul>
            <ul class="nav-list">
              <li class="nav-item" :class="{ active: activeIndex === 0 }" @click="changeSection(0)"><a href="#"><i class="iconify nav-icon" data-icon="iconamoon:apps"></i><span class="nav-text">總覽</span></a></li>
              <li class="nav-item" :class="{ active: activeIndex === 1 }" @click="changeSection(1)"><a href="#"><i class="iconify nav-icon" data-icon="grommet-icons:certificate"></i><span class="nav-text">經歷</span></a></li>
              <li class="nav-item" :class="{ active: activeIndex === 2 }" @click="changeSection(2)"><a href="#"><i class="iconify nav-icon" data-icon="mdi:monitor-cellphone-star"></i><span class="nav-text">UI/UX</span></a></li>
              <li class="nav-item" :class="{ active: activeIndex === 3 }" @click="changeSection(3)"><a href="#"><i class="iconify nav-icon" data-icon="grommet-icons:text-wrap"></i><span class="nav-text">網站設計</span></a></li>
              <li class="nav-item" :class="{ active: activeIndex === 4 }" @click="changeSection(4)"><a href="#"><i class="iconify nav-icon" data-icon="mdi:file-image"></i><span class="nav-text">平面設計</span></a></li>
              <li class="nav-item" :class="{ active: activeIndex === 5 }" @click="changeSection(5)"><a href="#"><i class="iconify nav-icon" data-icon="material-symbols:brand-family"></i><span class="nav-text">視覺識別</span></a></li>
              <li class="nav-item"><a href="https://childishsue.github.io/personalCV/assets/doc/resume2025.pdf" target="_blank"><i class="iconify nav-icon" data-icon="ri:file-download-line"></i><span class="nav-text">簡歷下載</span></a></li>
            </ul>
          </div>
        </div>
      </nav>
      <section class="content" id="overview" v-if="activeIndex === 0">
        <div class="left-content">
          <div class="slider-container">
            <h1>素材精選</h1>
            <div class="swiper swiper-1">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="../assets/img/banner/933x277_01.jpg"></div>
                <div class="swiper-slide"><img src="../assets/img/banner/933x277_02.jpg"></div>
                <div class="swiper-slide"><img src="../assets/img/banner/933x277_03.jpg"></div>
                <div class="swiper-slide"><img src="../assets/img/banner/933x277_04.jpg"></div>
                <div class="swiper-slide"><img src="../assets/img/banner/933x277_05.jpg"></div>
                <div class="swiper-slide"><img src="../assets/img/banner/933x277_06.jpg"></div>
                <div class="swiper-slide"><img src="../assets/img/banner/933x277_07.jpg"></div>
                <div class="swiper-slide"><img src="../assets/img/banner/933x277_08.jpg"></div>
                <div class="swiper-slide"><img src="../assets/img/banner/933x277_09.jpg"></div>
                <div class="swiper-slide"><img src="../assets/img/banner/933x277_10.jpg"></div>
              </div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="charts">
            <h1>領域展開</h1>
            <div class="charts-container" :class="{ visible: activeIndex === 0 }">
              <div class="chart-wrapper" :class="{ visible: activeIndex === 0 }">
                <h2 class="chartTitle">軟體</h2>
                <canvas id="radarChart1"></canvas>
              </div>
              <div class="chart-wrapper" :class="{ visible: activeIndex === 0 }">
                <h2 class="chartTitle">設計</h2>
                <canvas id="radarChart2"></canvas>
              </div>
              <div class="chart-wrapper" :class="{ visible: activeIndex === 0 }">
                <h2 class="chartTitle">前端</h2>
                <canvas id="radarChart3"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="right-content">
          <div class="info-block">
            <h1>學歷</h1>
            <div class="container">
              <div class="info-list">
                <div class="list-img"><img src="../assets/img/e_logo01.jpg" alt=""></div>
                <div class="list-title">
                  <h2>復興商工</h2>
                  <p>美工科</p>
                </div><span>1996 ~ 1999</span>
              </div>
              <div class="info-list">
                <div class="list-img"><img src="../assets/img/e_logo02.svg" alt=""></div>
                <div class="list-title">
                  <h2>環球科技大學</h2>
                  <p>視覺傳達系(肄)</p>
                </div><span>2001 ~ 2003</span>
              </div>
              <div class="info-list">
                <div class="list-img"><img src="../assets/img/e_logo03.jpg" alt=""></div>
                <div class="list-title">
                  <h2>台灣藝術大學</h2>
                  <p>工藝設計學系</p>
                </div><span>2003 ~ 2006</span>
              </div>
            </div>
          </div>
          <div class="info-block">
            <h1>經歷</h1>
            <div class="container">
              <div class="info-list">
                <div class="list-img"><img src="../assets/img/fti.png" alt=""></div>
                <div class="list-title">
                  <h2>沛恩集團</h2>
                  <p>Product Designer</p>
                </div><span>2006/8 ~ 2007/9</span>
              </div>
              <div class="info-list">
                <div class="list-img"><img src="../assets/img/payeasy.jpg" alt=""></div>
                <div class="list-title">
                  <h2>PayEasy</h2>
                  <p>Web Designer</p>
                </div><span>2009/7 ~ 2011/4</span>
              </div>
              <div class="info-list">
                <div class="list-img"><img src="../assets/img/unt.png" alt=""></div>
                <div class="list-title">
                  <h2>UNT</h2>
                  <p>Web Design manager</p>
                </div><span>2012/4 ~ 2013/4</span>
              </div>
              <div class="info-list">
                <div class="list-img"><img src="../assets/img/freelancer.jpg" alt=""></div>
                <div class="list-title">
                  <h2>全職接案</h2>
                  <p>Visual Designer</p>
                </div><span>2013/4 ~ 2018/11</span>
              </div>
              <div class="info-list">
                <div class="list-img"><img src="../assets/img/witsper.jpg" alt=""></div>
                <div class="list-title">
                  <h2>智選家</h2>
                  <p>Visual Designer</p>
                </div><span>2018/12 ~ 2020/8</span>
              </div>
              <div class="info-list">
                <div class="list-img"><img src="../assets/img/tk3c.png" alt=""></div>
                <div class="list-title">
                  <h2>燦坤線上購物</h2>
                  <p>Web UI/UX Designer</p>
                </div><span>2020/5 ~ 2022/4</span>
              </div>
              <div class="info-list">
                <div class="list-img"><img src="../assets/img/googoo.jpg" alt=""></div>
                <div class="list-title">
                  <h2>汩汩設計</h2>
                  <p>Web Designer</p>
                </div><span>2022/5 ~ 2024/11</span>
              </div>
            </div>
          </div>
          <div class="info-block">
            <h1>所有技能</h1>
            <div class="container">
              <ul>
                <li><i class="iconify skill-icon" data-icon="skill-icons:illustrator"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:xd"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:photoshop"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:premiere"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:aftereffects"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:audition"></i></li>
                <li><i class="iconify skill-icon" data-icon="logos:adobe-animate"></i></li>
                <li><i class="iconify skill-icon" data-icon="file-icons:adobe-acrobat"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:vscode-dark"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:figma-dark"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:html"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:css"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:pug-light"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:sass"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:jquery"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:vuejs-light"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:git"></i></li>
                <li><i class="iconify skill-icon" data-icon="skill-icons:github-light"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="content" id="education-work" v-if="activeIndex === 1">
        <div class="wrap">
          <div class="row">
            <h1>關於我</h1>
            <div class="wordgroup">
              <p>個性主動積極、幽默風趣，喜歡用很多觀點去觀察、理解周遭的人事物，熱愛溝通、合作並從中獲得成就感，在專業領域超過20年的經驗、網頁設計領域有15年經驗，能快速理解專案內容需求及策略並規劃手邊資源進行整合運用。</p>
              <p>熟悉Adobe Creative Cloud裡的各項軟體的操作，擁有UX流程動線規劃並繪製Prototype的經驗，並能根據在HTML5、CSS3及jQuery前端的知識來制定Guideline；規劃交互、RWD架構、SEO佈局，在敏捷開發時也能套用流行框架來快速完成專案；前端部分熟悉PUG語法及SCSS來實現前後端分離並模塊化頁面，並使用Git與夥伴協作完成專案。目前正在學習Vue框架及Webpack打包工具也期待這兩項技能可以在未來發揮實質的功能。</p>
              <h4>專業能力</h4>
              <ul>
                <li>擁有快速理解專案內容需求及策略並規劃手邊資源進行整合運用並快速完成專案。</li>
                <li>因為有獨自接案的經驗所以具備跨團隊或對外部廠商的溝通能力。</li>
                <li>對新技術有敏感度且會嘗試在時程允許內運用在專案裡。</li>
                <li>擅長對美感的佈局及顏色的運用，並讓它融入每一件設計作品中。</li>
                <li>擁有設計提案能力。</li>
              </ul>
              <h4>專業技能</h4>
              <ul>
                <li>熟悉Adobe Creative Cloud裡的各項軟體的操作。</li>
                <li>擁有UX知識分析競品、使用者訪談獲取有效回饋，並且分析讓產品疊代。</li>
                <li>用Figma規劃設計Prototype並制定Guideline。</li>
                <li>具備撰寫HTML5及CSS3的能力也能設計撰寫RWD架構佈局符合個瀏覽裝置並規劃執行SEO。</li>
                <li>能使用PUG語法、前端框架jQuery、VUE及預處理器SCSS且能做到前後端分離。</li>
                <li>熟悉Git的基本使用與工作夥伴協作。</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <h1>經歷</h1>
            <div class="slider-container">
              <div class="swiper swiper-2">
                <div class="swiper-wrapper">
                  <div class="card swiper-slide">
                    <h5>2006/8~2007/9</h5>
                    <h4>沛恩實業股份有限公司</h4>
                    <h6>Product Designe</h6>
                    <ul>
                      <li>流行趨勢資料收集整匯。</li>
                      <li>背包、行李箱、手提袋開發設計。</li>
                      <li>開發期與美國業務及設計師做溝通協調。</li>
                      <li>赴對岸協助及監督開發進度及完整度能在交貨期準時寄出。</li>
                      <li>產品周邊印刷品製作。</li>
                      <li>協助產品拍攝。</li>
                    </ul>
                  </div>
                  <div class="card swiper-slide">
                    <h5>2009/7~2011/4</h5>
                    <h4>PayEasy</h4>
                    <h6>Web Designe</h6>
                    <ul>
                      <li>公司各項行銷活動看板、海報、立牌、DM設計製作。</li>
                      <li>活動頁及網路廣告製作。</li>
                      <li>公司官網維護。</li>
                      <li>跨部門溝通行銷活動合作事宜。</li>
                      <li>行銷活動公版及制定規則。</li>
                    </ul>
                  </div>
                  <div class="card swiper-slide">
                    <h5>2012/4~2013/4</h5>
                    <h4>UNT</h4>
                    <h6>Web Designer manager</h6>
                    <ul>
                      <li>管理3人網路動態廣告設計小組。</li>
                      <li>跨部門溝通協調。</li>
                      <li>發想及繪製分鏡。</li>
                      <li>保持並調整網路動態廣告的品牌個性、呈現效果。</li>
                      <li>監控時程進度及人力調配讓YAHOO、GOOGLE及其他廣告平台的動態廣告能順利上線。</li>
                      <li>廣告數據檢討，分析A/B test的回饋並指導修正。</li>
                    </ul>
                  </div>
                  <div class="card swiper-slide">
                    <h5>2013/4~2018/11</h5>
                    <h4>全職接案</h4>
                    <h6>Visual Designer</h6>
                    <ul>
                      <li>幫助客戶規劃、設計及製作RWD官方網站、活動網站。</li>
                      <li>幫助客戶製作FLASH或HTML5網路動態廣告及平面製作物。</li>
                      <li>以自身經驗協助業主溝通前、後端工程師或製作物廠商。</li>
                    </ul>
                  </div>
                  <div class="card swiper-slide">
                    <h5>2018/12~2020/4</h5>
                    <h4>智選家</h4>
                    <h6>Visual Designer</h6>
                    <ul>
                      <li>製作品牌guideline。</li>
                      <li>SHOPLINE官網維運及優化。</li>
                      <li>社群素材及廣告素材製作。</li>
                      <li>各家商城素材製作。</li>
                      <li>協助規劃、設計及切版製作RWD活動頁面。</li>
                    </ul>
                  </div>
                  <div class="card swiper-slide">
                    <h5>2020/5~2022/4</h5>
                    <h4>燦坤線上購物</h4>
                    <h6>Web Designer / UI Designer</h6>
                    <ul>
                      <li>協助規劃、設計及切版製作RWD活動頁面，動效製作、溝通。</li>
                      <li>網路素材製作。</li>
                      <li>統籌商品組並規劃直播內容並協助主持。</li>
                      <li>燦坤網站改版UI/UX規範制定、WIREFRAME繪製、跨部門溝通訪談、最終靜態稿設計輸出。</li>
                    </ul>
                  </div>
                  <div class="card swiper-slide">
                    <h5>2022/5~2024/11</h5>
                    <h4>汩汩設計</h4>
                    <h6>Web Designer / UI Designer</h6>
                    <ul>
                      <li>博彩及區塊鏈網站，規劃、設計及前端製作。</li>
                      <li>博彩及區塊鏈網站包網換皮。</li>
                      <li>博彩及區塊鏈網站包網活動頁面，規劃、設計及前端製作。</li>
                      <li>後臺(Bootstrap3 base)拉皮及功能優化。</li>
                      <li>博彩及區塊鏈網站的品牌LOGO設計。</li>
                      <li>社群素材及廣告素材製作</li>
                    </ul>
                  </div>
                  <div class="card swiper-slide">
                    <h5>2022/3~still here</h5>
                    <h4>鑄星資訊服務有限公司</h4>
                    <h6>Visual Designer</h6>
                    <ul>
                      <li>公司官網維護及優化。</li>
                      <li>相關子公司品牌LOGO設計網站，規劃、設計及前端製作。</li>
                      <li>活動頁面，規劃、設計及前端製作。</li>
                      <li>展會實體印刷品及虛擬素材製作。</li>
                    </ul>
                  </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="content" id="websiteui" v-if="activeIndex === 2">
        <div class="wrap">
          <h1>UI/UX</h1>
          <div class="album-container"><a class="album" href="https://www.figma.com/design/yBc3ed4Nw3uRyiNdlBC319/TK3C-%E7%B6%B2%E7%AB%99%E5%84%AA%E5%8C%96?node-id=2-3&amp;p=f&amp;t=i5VF9aPtmQIr1X59-0" target="_blank">
              <figure><img src="../assets/img/uiux/tk3c.jpg"></figure>
              <h2>燦坤線上購物</h2></a><a class="album" href="https://www.figma.com/design/mQYgdbip66M7PGd6rVIWuU/%E9%9B%BB%E6%B0%A3%E9%86%AB%E9%99%A2?node-id=306-1156&amp;t=Dlxp0RwAAUIvVMr1-0" target="_blank">
              <figure><img src="../assets/img/uiux/tkhospital.jpg"></figure>
              <h2>電器醫院</h2></a><a class="album" href="https://www.figma.com/design/U4Qsb3tUhCNJ00b48XARA3/IIphone-13-%E9%A0%90%E8%B3%BC?node-id=0-1&amp;p=f&amp;t=ipnRQ1lxsKzAZp2I-0" target="_blank">
              <figure><img src="../assets/img/uiux/tk3cXapple.jpg"></figure>
              <h2>燦坤蘋果預購</h2></a><a class="album" href="https://www.figma.com/design/LfohDPiPFJkNLtxm9qf6XY/JAB-hotel?node-id=26-948&amp;t=RjdAmS9zT7hH4xQN-0" target="_blank">
              <figure><img src="../assets/img/uiux/JAB.jpg"></figure>
              <h2>JAB</h2></a><a class="album" href="https://www.figma.com/design/81Wtavxc38XUkpdPstxks3/mystino?node-id=0-1&amp;p=f&amp;t=NmiAqLM6qBM5UO3F-0" target="_blank">
              <figure><img src="../assets/img/uiux/mystino.jpg"></figure>
              <h2>mystino</h2></a><a class="album" href="https://www.figma.com/design/lfjN4oYVyRfT9I8haCz47T/K8-UI?m=auto&amp;t=xa8egS2g710FEOhA-6" target="_blank">
              <figure><img src="../assets/img/uiux/k8.jpg"></figure>
              <h2>K8</h2></a></div>
        </div>
      </section>
      <section class="content" id="eventsite" v-if="activeIndex === 3">
        <div class="wrap">
          <h1>活動/網站</h1>
          <div class="album-container"><a class="album" href="https://childishsue.github.io/allwebsite/eumax/index.html" target="_blank">
              <figure><img src="../assets/img/website/eumax2.jpg"></figure>
              <h2>eumax2</h2></a><a class="album" href="https://childishsue.github.io/allwebsite/fca_v2/index.html" target="_blank">
              <figure><img src="../assets/img/website/ht.jpg"></figure>
              <h2>H&T</h2></a><a class="album" href="https://childishsue.github.io/allwebsite/ht/index.html" target="_blank">
              <figure><img src="../assets/img/website/jfd2.jpg"></figure>
              <h2>JFD</h2></a><a class="album" href="https://childishsue.github.io/allwebsite/plusmax2/index.html" target="_blank">
              <figure><img src="../assets/img/website/plusmax2.jpg"></figure>
              <h2>plusMax2</h2></a><a class="album" href="https://childishsue.github.io/allwebsite/lbc/index.html" target="_blank">
              <figure><img src="../assets/img/website/hjtech.jpg"></figure>
              <h2>HJtech</h2></a><a class="album" href="https://childishsue.github.io/allwebsite/sdtu/index.html" target="_blank">
              <figure><img src="../assets/img/website/sxigma.jpg"></figure>
              <h2>HJtech</h2></a></div>
        </div>
      </section>
      <section class="content" id="graphicdesign" v-if="activeIndex === 4">
        <div class="wrap">
          <h1>平面設計</h1>
          <div class="album-container">
            <div class="album" v-for="(album, index) in albums_graphic" @click="openLightboxGraphic(index)" :key="index">
              <figure><img :src="album.imgSrc" :alt="album.title"></figure>
              <h2>{{ album.title }}</h2>
            </div>
          </div>
        </div>
      </section>
      <vue-easy-lightbox :visible="lightboxVisibleGraphic" :imgs="lightboxImagesGraphic" :index="currentImgIndexGraphic" @hide="handleHideGraphic"></vue-easy-lightbox>
      <section class="content" id="vi" v-if="activeIndex === 5">
        <div class="wrap">
          <h1>視覺識別</h1>
          <div class="album-container">
            <div class="album" v-for="(album, index) in albums_vi" @click="openLightboxVi(index)" :key="index">
              <figure><img :src="album.imgSrc" :alt="album.title"></figure>
              <h2>{{ album.title }}</h2>
            </div>
          </div>
        </div>
      </section>
      <vue-easy-lightbox :visible="lightboxVisibleVi" :imgs="lightboxImagesVi" :index="currentImgIndexVi" @hide="handleHideVi"></vue-easy-lightbox>
    </main>
    <script type="text/javascript" src="../assets/js/main.js"></script>
  </body>
</html>